@media screen and (min-width: 577px) and (max-width: 992px) {
  /* medium device */
  .container {
    padding: 0 40px;
    margin: 0 auto;
  }
  /* nav starts */
  nav .logo a {
    font-size: 2.25rem;
  }
  /* nav ends */

  /* banner section starts */
  #banner {
    padding: 70px 0;
    background-size: cover;
    background-position: center -10px;
    background-repeat: no-repeat;
  }
  .banner-image-section {
    height: 250px;
    aspect-ratio: 1;
  }
  .banner-image img {
    width: 90px;
  }
  .image-badge {
    top: 5px;
    right: 5px;
  }
  .banner-title {
    font-size: 3rem;
  }
  /* banner section ends */

  /* about section starts */
  #about {
    padding: 60px 0;
  }
  .about-contents {
    margin-bottom: 60px;
  }
  .about-stats-container {
    margin: 60px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    width: fit-content;
  }
  .section-title {
    font-size: 2.25rem;
  }
  .about-desc {
    line-height: 1.75rem;
  }
  /* about section ends */

  /* why-choose section starts */
  #why-choose {
    padding: 60px 0;
  }
  #why-choose .section-title {
    margin-bottom: 30px;
  }
  .feature-card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .feature-card {
    padding: 30px;
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  .feature-card:nth-child(1) {
    grid-column: span 2 / span 2;
  }
  .feature-card .card-title {
    font-size: 1.5rem;
  }
  /* why-choose section ends */

  /* featured-episodes section starts */
  #featured-episodes {
    padding: 60px 0 40px;
  }
  #featured-episodes .section-title {
    margin-bottom: 30px;
  }
  .episode-cards-container {
    gap: 20px;
    flex-wrap: wrap;
  }
  .episode-cards-container .card-contents {
    padding: 20px;
  }
  .episode-cards-container .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .episode-cards-container .card-desc {
    margin-bottom: 10px;
  }
  /* featured-episodes section ends */

  /* host section starts */
  #host {
    padding: 40px 0 60px;
  }
  #host .section-title {
    margin-bottom: 30px;
  }
  .host-card-container {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    text-align: center;
  }
  .host-info {
    max-width: 42rem;
  }
  .host-photo img {
    width: 175px;
  }
  #host .host-name {
    margin-bottom: 20px;
    font-size: 1.75rem;
  }
  #host .host-info {
    margin-bottom: 20px;
  }
  .host-social-links {
    justify-content: center;
  }
  /* host section ends */

  /* footer starts */
  footer {
    padding: 60px 0;
    background-size: 1320px 400px;
    background-position: center -65px;
    background-repeat: no-repeat;
  }
  .footer-logo {
    margin-bottom: 24px;
  }
  .footer-logo a {
    font-size: 3.5rem;
  }
  .platform-container {
    gap: 1.5rem;
    margin-bottom: 30px;
  }
  /* footer ends */
}

@media screen and (max-width: 576px) {
  /* small device */
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }
  /* nav starts */
  nav {
    padding: 18px 0;
  }
  .logo a {
    font-size: 20px;
  }
  .nav-menu,
  .nav-button {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu img {
    width: 24px;
  }
  /* nav ends */

  /* banner section starts */
  #banner {
    padding: 40px 0;
    background: url(../images/hero-bg-mobile.png);
    background-position: center;
    background-size: auto;
  }
  .banner-contents {
    gap: 24px;
  }
  .banner-image-section {
    height: 200px;
    aspect-ratio: 1;
  }
  .banner-image img {
    width: 80px;
  }
  .image-badge {
    top: 0;
    right: 0;
  }
  .image-badge p {
    font-size: 1rem;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  /* banner section ends */

  /* about section starts */
  #about {
    padding: 40px 0;
  }
  .about-contents {
    margin-bottom: 40px;
  }
  .about-stats-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  .section-title {
    font-size: 2rem;
  }
  .about-desc {
    line-height: 1.5rem;
  }
  .broken {
    display: none;
  }
  /* about section ends */

  /* why-choose section starts */
  #why-choose {
    padding: 40px 0;
  }
  #why-choose .section-title {
    margin-bottom: 16px;
  }
  .feature-card-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    align-items: start;
  }
  .feature-card {
    padding: 24px;
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  .feature-card .card-title {
    font-size: 1.375rem;
  }
  /* why-choose section ends */

  /* featured-episodes section starts */
  #featured-episodes {
    padding: 40px 0 30px;
  }
  #featured-episodes .section-title {
    margin-bottom: 24px;
  }
  .episode-cards-container {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .episode-cards-container .card-contents {
    padding: 16px;
  }
  .episode-cards-container .card-title {
    font-size: 1.25rem;
    margin-bottom: 8px;
  }
  .episode-cards-container .card-desc {
    margin-bottom: 8px;
  }
  /* featured-episodes section ends */

  /* host section starts */
  #host {
    padding: 30px 0 40px;
  }
  #host .section-title {
    margin-bottom: 24px;
  }
  .host-card-container {
    flex-direction: column;
    gap: 16px;
    text-align: center;
    padding: 24px;
  }
  .host-photo img {
    width: 150px;
  }
  #host .host-name {
    margin-bottom: 16px;
    font-size: 1.5rem;
  }
  #host .host-info {
    margin-bottom: 16px;
  }
  .host-social-links {
    justify-content: center;
  }
  /* host section ends */

  /* footer starts */
  footer {
    padding: 40px 0;
    background-size: 700px 350px;
    background-position: center -65px;
    background-repeat: no-repeat;
  }
  .footer-logo {
    margin-bottom: 24px;
  }
  .footer-logo a {
    font-size: 3rem;
  }
  .platform-container {
    width: 255px;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  /* footer ends */
}

/* this breakpoint specially for very small size desktop or laptop monitor for their left-right spacing */
@media screen and (min-width: 993px) and (max-width: 1270px) {
  .container {
    padding: 0 40px;
    margin: 0 auto;
  }
}
/* this breakpoint declared to control navbar responsibility for small tablet devices */
@media screen and (min-width: 577px) and (max-width: 670px) {
  nav .logo a {
    font-size: 1.75rem;
  }
  .menu-container {
    gap: 1rem;
  }
}
