@media screen and (min-width: 577px) and (max-width: 992px) {
  /* medium device */
  .container {
    padding: 0 40px;
    margin: 0 auto;
  }
  /* nav starts */
  nav .logo a {
    font-size: 2.25rem;
  }
  /* nav ends */

  /* banner section starts */
  #banner {
    padding: 70px 0;
    background-position: center 25px;
  }
  .banner-image-section {
    height: 250px;
    aspect-ratio: 1;
  }
  .banner-image img {
    width: 90px;
  }
  .image-badge {
    top: 5px;
    right: 5px;
  }
  .banner-title {
    font-size: 3rem;
  }
  /* banner section ends */

  /* about section starts */
  #about {
    padding: 60px 0;
  }
  .about-contents {
    margin-bottom: 60px;
  }
  .about-stats-container {
    margin: 60px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    width: fit-content;
  }
  .section-title {
    font-size: 2.25rem;
  }
  .about-desc {
    line-height: 1.75rem;
  }
  /* about section ends */

  /* why-choose section starts */
  #why-choose {
    padding: 60px 0;
  }
  #why-choose .section-title {
    margin-bottom: 30px;
  }
  .feature-card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .feature-card {
    padding: 30px;
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  .feature-card:nth-child(1) {
    grid-column: span 2 / span 2;
  }
  .feature-card .card-title {
    font-size: 1.5rem;
  }
  /* why-choose section ends */

  /* featured-episodes section starts */
    #featured-episodes {
    padding: 60px 0 40px;
  }
  #featured-episodes .section-title {
    margin-bottom: 30px;
  }
  .episode-cards-container {
    gap: 20px;
    flex-wrap: wrap;
  }
  .episode-cards-container .card-contents {
    padding: 20px;
  }
  .episode-cards-container .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .episode-cards-container .card-desc {
    margin-bottom: 10px;
  }
  /* featured-episodes section ends */
}

@media screen and (max-width: 576px) {
  /* small device */
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }
  /* nav starts */
  nav {
    padding: 18px 0;
  }
  .logo a {
    font-size: 20px;
  }
  .nav-menu,
  .nav-button {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu img {
    width: 24px;
  }
  /* nav ends */

  /* banner section starts */
  #banner {
    padding: 40px 0;
    background-position: center 75px;
  }
  .banner-contents {
    gap: 24px;
  }
  .banner-image-section {
    height: 200px;
    aspect-ratio: 1;
  }
  .banner-image img {
    width: 80px;
  }
  .image-badge {
    top: 0;
    right: 0;
  }
  .image-badge p {
    font-size: 1rem;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  /* banner section ends */

  /* about section starts */
  #about {
    padding: 40px 0;
  }
  .about-contents {
    margin-bottom: 40px;
  }
  .about-stats-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  .section-title {
    font-size: 2rem;
  }
  .about-desc {
    line-height: 1.5rem;
  }
  .broken {
    display: none;
  }
  /* about section ends */

  /* why-choose section starts */
  #why-choose {
    padding: 40px 0;
  }
  #why-choose .section-title {
    margin-bottom: 16px;
  }
  .feature-card-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    align-items: start;
  }
  .feature-card {
    padding: 24px;
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  .feature-card .card-title {
    font-size: 1.375rem;
  }
  /* why-choose section ends */

  /* featured-episodes section starts */
  #featured-episodes {
    padding: 40px 0 30px;
  }
  #featured-episodes .section-title {
    margin-bottom: 24px;
  }
  .episode-cards-container {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .episode-cards-container .card-contents {
    padding: 16px;
  }
  .episode-cards-container .card-title {
    font-size: 1.25rem;
    margin-bottom: 8px;
  }
  .episode-cards-container .card-desc {
    margin-bottom: 8px;
  }
  /* featured-episodes section ends */
}
