@media screen and (max-width: 991px) {
  /* medium device */
  .container {
    padding: 0 40px;
    margin: 0 auto;
  }
  /* banner section starts */
  #banner {
    padding: 70px 0;
    background-position: center 25px;
  }
  .banner-image-section {
    height: 250px;
    aspect-ratio: 1;
  }
  .banner-image img {
    width: 90px;
  }
  .image-badge {
    top: 5px;
    right: 5px;
  }
  .banner-title {
    font-size: 3rem;
  }
  /* banner section ends */

  /* about section starts */
  #about {
    padding: 60px 0;
  }
  .about-contents {
    margin-bottom: 60px;
  }
  .about-stats-container {
    margin: 60px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    width: fit-content;
  }
  .about-title {
    font-size: 2.25rem;
  }
  .about-desc {
    line-height: 1.75rem;
  }
  /* about section ends */
}

@media screen and (max-width: 576px) {
  /* small device */
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }
  /* nav starts */
  nav {
    padding: 18px 0;
  }
  .logo a {
    font-size: 20px;
  }
  .nav-menu,
  .nav-button {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu img {
    width: 24px;
  }
  /* nav ends */

  /* banner section starts */
  #banner {
    padding: 40px 0;
    background-position: center 75px;
  }
  .banner-contents {
    gap: 24px;
  }
  .banner-image-section {
    height: 200px;
    aspect-ratio: 1;
  }
  .banner-image img {
    width: 80px;
  }
  .image-badge {
    top: 0;
    right: 0;
  }
  .image-badge p {
    font-size: 1rem;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  /* banner section ends */

  /* about section starts */
  #about {
    padding: 40px 0;
  }
  .about-contents {
    margin-bottom: 40px;
  }
  .about-stats-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  .about-title {
    font-size: 2rem;
  }
  .about-desc {
    line-height: 1.5rem;
  }
  .broken {
    display: none;
  }
  /* about section ends */
}
